<div class="title-wrapper">
    <h2 class="sub-header font-condensed">Add User</h2>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="maintenance-period">
                    <form class="form-horizontal" novalidate autocomplete="false" [formGroup]="frmUser" (ngSubmit)="onSubmit(frmUser.valid)">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 control-label">Full Name</label>
                                    <div class="col-sm-5 col-md-6">
                                        <input name="FullName" type="text" class="form-control" formControlName="FullName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 col-md-offset-2 control-label">Email</label>
                                    <div class="col-sm-5 col-md-6">
                                        <input name="Email" type="text" class="form-control" formControlName="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 control-label">Username</label>
                                    <div class="col-sm-5 col-md-6">
                                        <input name="UserName" type="text" class="form-control" formControlName="UserName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 col-md-offset-2 control-label">Address</label>
                                    <div class="col-sm-5 col-md-6">
                                        <input name="Address" type="text" class="form-control" formControlName="Address">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6" *ngIf="!user.Id">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 control-label">Password</label>
                                    <div class="col-sm-5 col-md-6">
                                        <input name="Password" type="text" class="form-control" formControlName="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 control-label">Phone</label>
                                    <div class="col-sm-5 col-md-6">
                                        <input name="PhoneNumber" type="text" class="form-control" formControlName="PhoneNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 control-label">Confirm Password</label>
                                    <div class="col-sm-5 col-md-6">
                                        <input name="ConfirmPassword" type="text" class="form-control" formControlName="ConfirmPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 col-md-offset-2 control-label">Birthday</label>
                                    <div class="col-sm-5 col-md-6">
                                        <input name="PhoneNumber" type="text" class="form-control" formControlName="BirthDay">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 control-label">Avatar</label>
                                    <div class="col-sm-5 col-md-6">
                                        <input name="PhoneNumber" type="text" class="form-control" formControlName="Avatar">
                                        <span class="label label-danger">Only support *.png *.jpg *.jpeg !</span>
                                        <input type="hidden" class="form-control" [(ngModel)]="user.Avatar" name="avatarUrl">
                                        <img [src]="baseFolder + user.Avatar" width="128" *ngIf="user.Avatar">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 col-md-offset-2 control-label">Gender</label>
                                    <div class="col-sm-5 col-md-6">
                                        <label class="radio-inline">
                                            <input (change)="selectGender($event)" name="gender" type="radio" #gender="ngModel" [ngModel]="user.Gender" value="True" required [checked]="user.Gender=='True'"> Male
                                        </label>
                                        <label class="radio-inline">
                                            <input (change)="selectGender($event)" name="gender" type="radio" #gender="ngModel" [ngModel]="user.Gender" value="False" required [checked]="user.Gender=='False'"> FeMale
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-left col-sm-4 col-md-4 control-label">User Group</label>
                                    <div class="col-sm-5 col-md-6">
                                        <ss-multiselect-dropdown [ngModelOptions]="{ standalone : true }" [options]="allRoles" [(ngModel)]="myRoles"></ss-multiselect-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <a [routerLink]="['/main/user/index']" href="#" class="btn btn-default mr-5"><i class="mdi mdi-keyboard-backspace mr-5"></i>Back To User List</a>
                                <button href="#" class="btn btn-success" [disabled]="!addEditForm.form.valid"><i class="mdi mdi-content-save mr-5"></i>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
