<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
                </div>
                <div class="clearfix"></div>
                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="assets/images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->
                <br />
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-user"></i> User <span class="fa fa-chevron-down"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/img.jpg" alt="">John Doe
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">6</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="assets/images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                                        <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="assets/images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                                        <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="assets/images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                                        <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="assets/images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                                        <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="right_col" role="main" style="min-height: 960px;">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>User <small>Management</small></h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button class="btn btn-warning pull-right" (click)="deleteUser()">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                        <button class="btn btn-danger pull-right" (click)="createUser()">
                            <i class="fa fa-plus"></i> Create User
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <flash-messages></flash-messages>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Datatable -->
                        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [selected]="selected" [selectionType]="'checkbox'" (activate)="onActivate($event)" (select)='onSelect($event)'>
                            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="ID" prop="id">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span title="Double click to edit" (dblclick)="editing[row.$$index + '-id'] = true" *ngIf="!editing[row.$$index + '-id']">
                                  {{value}}
                                </span>
                                    <input autofocus (keyup.enter)="updateValue($event, 'id', value, row)" (blur)="updateValue($event, 'id', value, row)" *ngIf="editing[row.$$index + '-id']" type="text" [value]="value" />
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="First Name" prop="firstname">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span title="Double click to edit" (dblclick)="editing[row.$$index + '-firstname'] = true" *ngIf="!editing[row.$$index + '-firstname']">
                                  {{value}}
                                </span>
                                    <input autofocus (keyup.enter)="updateValue($event, 'firstname', value, row)" (blur)="updateValue($event, 'firstname', value, row)" *ngIf="editing[row.$$index + '-firstname']" type="text" [value]="value" />
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Last Name" prop="lastname">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span title="Double click to edit" (dblclick)="editing[row.$$index + '-lastname'] = true" *ngIf="!editing[row.$$index + '-lastname']">
                                  {{value}}
                                </span>
                                    <input autofocus (keyup.enter)="updateValue($event, 'lastname', value, row)" (blur)="updateValue($event, 'lastname', value, row)" *ngIf="editing[row.$$index + '-lastname']" type="text" [value]="value" />
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Gender" prop="gender">
                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                    <span title="Double click to edit" (dblclick)="editing[row.$$index + '-gender'] = true" *ngIf="!editing[row.$$index + '-gender']">
                                    {{value}}
                                </span>
                                    <select *ngIf="editing[row.$$index + '-gender']" (change)="updateValue($event, 'gender', value, row)" [value]="value">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Address" prop="address">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span title="Double click to edit" (dblclick)="editing[row.$$index + '-address'] = true" *ngIf="!editing[row.$$index + '-address']">
                                  {{value}}
                                </span>
                                    <input autofocus (keyup.enter)="updateValue($event, 'address', value, row)" (blur)="updateValue($event, 'address', value, row)" *ngIf="editing[row.$$index + '-address']" type="text" [value]="value" />
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Status" prop="status">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span title="Double click to edit" (dblclick)="editing[row.$$index + '-status'] = true" *ngIf="!editing[row.$$index + '-status']">
                                  {{value == true ? 'Active' : 'Deactive'}}
                                </span>
                                    <select *ngIf="editing[row.$$index + '-status']" (change)="updateValue($event, 'status', value, row)" [value]="value">
                                        <option value="true">Active</option>
                                        <option value="false">Deactive</option>
                                    </select>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                        <!-- End Datatable -->
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
</div>
