<div class="page-title">
    <div class="title_left">
        <h3>User Roles</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search role..." name="filter" [(ngModel)]="filter" (keyup.enter)="loadData()">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button" (click)="loadData()">Search</button>
                    </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-success" [routerLink]="['/main/role/form']"><i class="mdi mdi-plus mr-5"></i>New Role</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="td-nowrap text-center">
                                <a (click)="sort('Name')">
                                    <p _ngcontent-c2="" class="mr-8 p-inline">
                                        <span _ngcontent-c2="">Role Name</span>
                                    </p>
                                    <span class="caret-up" [class.active]="key == 'Name' && value == 1"></span>
                                    <span class="caret-down" [class.active]="key == 'Name' && value == -1"></span>
                                </a>
                            </th>
                            <th class="td-nowrap text-center">
                                <a (click)="sort('Description')">
                                    <p _ngcontent-c2="" class="mr-8 p-inline">
                                        <span _ngcontent-c2="">Description</span>
                                    </p>
                                    <span class="caret-up" [class.active]="key == 'Description' && value == 1"></span>
                                    <span class="caret-down" [class.active]="key == 'Description' && value == -1"></span>
                                </a>
                            </th>
                            <th class="td-nowrap text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | sort :key :value">
                            <td width="30%">{{ item.Name }}</td>
                            <td>{{ item.Description }}</td>
                            <td width="10%" class="text-center">
                                <a class="btn btn-icon mr-5" role="button" data-toggle="tooltip" title="Edit"><i class="mdi mdi-pencil"></i></a>
                                <a class="btn btn-icon" role="button" data-toggle="tooltip" title="Delete" (click)="deleteRole(item.Id)"><i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-display-control">
                    <span>Display</span>
                    <select class="form-control" #t (change)="setPageSize(t.value)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                    <span>/ {{ totalRow }} record(s)</span>
                </div>
                <div class="text-right">
                    <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
