<div class="page-title">
    <h2 class="sub-header font-condensed">Product Categories</h2>
    <div class="title_right">
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-success" [routerLink]="['/main/product-category/form']"><i class="mdi mdi-plus mr-5"></i>New Product Category</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <tree-root #treeProductCategory [nodes]="_productCategoryHierachy">
                    <ng-template #treeNodeTemplate let-node let-index="index">
                        <span>{{ node.data.Name }}</span>
                        <a (click)="edit(node.data.ID)" class="btn btn-icon">
                            <i class="mdi mdi-pencil"></i>
                        </a>
                        <a (click)="delete(node.data.ID)" class="btn btn-icon">
                            <i class="mdi mdi-delete"></i>
                        </a>
                    </ng-template>
                </tree-root>
            </div>
        </div>
    </div>
</div>
